<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <script src="js/onscan.min.js"></script>
    <script>onScan.attachTo(document)</script>
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <title>Akaunti Admin</title>
    <script defer="defer" src="/static/js/main.a5451e07.js"></script>
    <link href="/static/css/main.f7b65318.css" rel="stylesheet">
</head>

<body>
    <main id="root"></main>
</body>

</html>